@model List<VideoVerhuur_ASP.net_MVC_Test.Models.Film>

@{
    ViewBag.Title = "GenreDetail";
}
<div class="row">
    @if(Model.Count() > 0)
    {
        <h2>Genre: @Model[0].Genre.GenreSoort</h2>
    }else
    {
        <h2>Dit genre heeft momenteel geen films</h2>
    }

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Prijs</th>
            <th>In Voorraad</th>
            <th>Huren</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => film.Titel)</td>
                <td>@Html.DisplayFor(m => film.Prijs)</td>
                <td>@Html.DisplayFor(m => film.InVoorraad)</td>
                @if(film.InVoorraad > 0)
                {
                    <td>@Html.ActionLink("Huren", "Mandje", "Home", new { id = film.BandNr} , new { @class = "btn btn-primary"})</td>
                }
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("terug naar Genres", "VerhuurIndex" , "Home", null, new { @class = "btn btn-primary"})
</div>

